//Overflow

.overflow-x-scroll{overflow-x: scroll}

.overflow-y-scroll{overflow-y: scroll}

.overflow-x-hide{overflow-x: hidden}

.overflow-y-hide{overflow-y: hidden}

//Mics

.clickable{cursor: pointer;}

.no-outline{outline: none;}

.no-select{user-select: none;}

.no-events{pointer-events: none;}