.input-temp {
  height: 40px; }

.button-temp {
  transition: 0.3s ease;
  padding: 10px 22px;
  border: 2px solid; }
  .button-temp.gray {
    border-color: #8e8e8e;
    color: #8e8e8e; }
    .button-temp.gray:hover {
      background-color: #8e8e8e;
      color: #fff; }
  .button-temp.blue {
    border-color: #0755ca;
    color: #0755ca; }
    .button-temp.blue:hover {
      background-color: #0755ca;
      color: #fff; }
